# Orientação a Objetos

In [ ]:
class Triangulo:
  def __init__(self, lado1, lado2, lado3, base, altura):
    self.lado1 = lado1
    self.lado2 = lado2
    self.lado3 = lado3
    self.base = base
    self.altura = altura
  
  def area(self):
    return (self.base * self.altura) / 2

  def tipo(self):
    if self.lado1 > self.lado2 + self.lado3:
      return 'não é um triângulo'
    elif self.lado1 == self.lado2 or self.lado1 == self.lado3 or self.lado1 == self.lado2:
      return 'triângulo isósceles'
    else:
      return 'outro tipo de triângulo'

In [ ]:
t1 = Triangulo(5, 1, 3, 4, 3)

In [ ]:
print(t1.lado1, t1.lado2, t1.lado3, t1.base, t1.altura)

5 1 3 4 3

In [ ]:
t1.area()

6.0

In [ ]:
t1.tipo()

'não é um triângulo'

In [ ]:
t2 = Triangulo(8, 8, 8, 16, 9)
print(t2.lado1, t2.lado2, t2.lado3, t2.base, t2.altura)

8 8 8 16 9

In [ ]:
t2.area()

72.0

In [ ]:
t2.tipo()

'triângulo isósceles'

EXERCÍCIO
Crie uma classe chamada aluno com os seguintes atributos:
- Nome
- Nota 1
- Nota 2
- Crie um construtor para a classe (__init__)

Crie as seguintes funções (métodos):

Calcula Rmédia, retornando a média aritmética entre as notas
Mostra dados, que somente imprime o valor de todos os atributos
Resultado, que verifica se o aluno está aprovado ou reprovado (se a média for maior ou igual a 6.0, o aluno está aprovado)
Crie dois objetos (aluno1 e aluno2) e teste as funções

In [ ]:
class Aluno:
  def __init__(self, nome, nota1, nota2):
    self.nome = nome
    self.nota1 = nota1
    self.nota2 = nota2
    self.media = 0.0
   
  def calcula_media(self):
    self.media = (self.nota1 + self.nota2) / 2
    return self.media

  def mostra_dados(self):
    print('Nome: ', self.nome)
    print('Nota 1:', self.nota1)
    print('Nota 2:', self.nota2)
    print('Média:', self.media)
  
  def resultado(self):
    if self.media >= 6.0:
      print('Aprovado')
    else:
      print('Reprovado')

In [ ]:
aluno1 = Aluno('Pedro', 7.0, 9.0)
media = aluno1.calcula_media()
print(media)

8.0

In [ ]:
aluno1.mostra_dados()

Nome:  Pedro
Nota 1: 7.0
Nota 2: 9.0
Média: 8.0

In [ ]:
aluno1.resultado()

Aprovado

In [ ]:
aluno2 = Aluno('João', 7.0, 2.0)
media = aluno2.calcula_media()
aluno2.mostra_dados()
aluno2.resultado()

Nome:  João
Nota 1: 7.0
Nota 2: 2.0
Média: 4.5
Reprovado